.container {
 padding: 24px;
 display: grid;
 grid-template-rows: auto 1fr auto;
 height: 100vh;
}

.header{
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
 text-align: center;
 font-size: 0.95rem;
 margin-top: 30px;
}
.themeSwitcher{
    border: none;
    background-color: transparent;
    padding: 0;
    color: var(--text-color-secondary);
    margin-left:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header a{
    cursor: pointer;
}