.heading{
    display: flex;
    justify-content: space-evenly;
}
.heading button{
   border: none;
   background: transparent;
   outline: none;
   cursor: pointer;
   font-size: 1rem;
   
  
}
.heading_name,.heading_population,.heading_area,.heading_gini{
    /* flex: 1; */
    padding: 20px;
    color: var(--text-color-secondary);
    font-weight: 500;
}
.heading_name{
    text-align: left;
}
.row{
    display: flex;
    padding: 5px 20px;
    align-items: center;
    background-color: var(--background-color-light);
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: var(--box-shadow);
    justify-content: space-evenly;
    font-weight: 500;
    cursor: pointer;
}
.row:hover{
    transform: translateY(-5px);
    box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
    transition: 0.2s ease-in-out;
}
.name{
    flex: 1;
    text-align: left;
}
.population,.area,.gini{
    flex: 1;
}
.arrow{
    color: var(--text-color);
}
.imageBox{
    width: 60px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.imageBox img{
    width: 100%;
}
.heading_area,.heading_gini{
    display: block;
}
@media(max-width:750px){
    .gini,.area{
        display: none;
    }
    .heading_area,.heading_gini{
        display: none;
    }
    .imageBox{
        width: 40px;
    }
    .name{
        font-size: 16px;
    }
    .population{
        font-size: 14px;
        text-align:right;
    }
    .row{
        justify-content: space-between;
    }
}